/* PHASE 4: Footer */
footer {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  min-height: 50px;
  background-color: #fff;
  width: 900px;
  margin: 0px auto 50px auto;
  font-size: 14px;
  color: #aaa;
  justify-content: space-between;
  align-items: center;

}

footer ul {
  display: flex;
}

footer ul a:hover {
  cursor: pointer;
  color: #000;
}

footer ul li {
  margin-right: 20px;
}

.footer-rights-reservved {
  padding: 0px 20px;
}
